/* CSS Document */
/*************************************** DARK STYLE ***************************************/
/* Dark styles. */
/* !IMPORTS
/* !GLOBALS
/* --- !nav
/* --- !content
/* !CUSTOM
/* --- !active

/******************************* !IMPORTS *******************************/
/* CSS Document */
/*************************************** COLOR PALETTES ***************************************/
/* SASS-based color palettes. */
/* !SASS VARIABLES
/* --- !greys
/* --- !color

/******************************* !SASS VARIABLES *******************************/
/*******************/
/***** !greys ******/
/*******************/
/* solid color */
/* tints */
/*******************/
/***** !color ******/
/*******************/
/* links */
/* highlight */
/******************************* !GLOBALS *******************************/
html, body {
  background: #1a1a1a; }

html, body, p,
h1, h2, h3, h4, h5, h6 {
  color: #f0efef; }

button {
  background-color: transparent;
  border-color: #464646;
  color: currentColor; }

button:hover {
  background: #5a5a5a; }

button:active {
  background: #464646; }

/*****************/
/***** !nav ******/
/*****************/
/*********************/
/***** !content ******/
/*********************/
/******************************* !CUSTOM *******************************/
/********************/
/***** !active ******/
/********************/
/* active */
.active {
  color: #f0efef; }

/* active nav */
li.active {
  color: white; }

.color-1 {
  background: #ac3a3a; }

.color-2 {
  background: #3a9aac; }

.color-3 {
  background: #95c94e; }

.color-4 {
  background: #4a3155; }

.color-5 {
  background: #0ecca8; }

.color-6 {
  background: #c3c3c3; }
